@import url("reset.css");

body {
  background-color: whitesmoke;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
}
.wrapper__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.header__container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0px;
}
.header__logo {
}
.header__logo img {
  width: 159.39px;
  height: 40px;
}
.header__category {
}
.category {
}
.category__list {
}
.category__item {
  position: relative;
  background: #f4f7ff;
  border-radius: 5px;
  padding: 9px 44.61px 9px 20.81px;
  line-height: 1.5;
  font-weight: 600;
  color: #212b36;
}
.category__item:hover .category__sub-menu {
  opacity: 1;
  visibility: visible;
}
.category__link {
  position: relative;
}
.category__link:hover {
  color: #3056d3;
}
.category__link::after {
  content: "";
  display: inline-block;
  background: url(../img/icon/Vector.svg) center no-repeat;
  width: 10.8px;
  height: 5.8px;
  position: absolute;
  top: 40%;
  right: -23px;
  transition: all 300ms;
}
.category__link:hover::after {
  transform: scale(1.5);
}
.category__sub-menu {
  position: absolute;
  top: 200%;
  left: 0;
  z-index: 3;
  background-color: #fff;
  padding: 22px 0px;
  border: 0.5px solid #e7e7e7;
  border-radius: 5px;
  min-width: 180px;
  opacity: 0;
  visibility: hidden;
}
.category__sub-menu::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 15px solid white;
  border-radius: 2px;
  position: absolute;
  top: -5%;
  left: 9%;
  z-index: 1;
}
.category__sub-menu::after {
  content: "";
  width: 140%;
  height: 140%;
  position: absolute;
  top: -42px;
  left: -20px;
  z-index: -1;
}
.sub-menu {
}
.sub-menu__list {
}
.sub-menu__item {
  margin: 0px 0px 13px 0px;
  padding: 0px 24px;
}
.sub-menu__item:last-child {
  margin-bottom: 0px;
}
.sub-menu__item:hover .fashion-menu {
  opacity: 1;
  visibility: visible;
}
.sub-menu__link {
  position: relative;
}
.sub-menu__link:hover {
  color: #3056d3;
}
.sub-menu__link_arrow::after {
  content: "";
  display: inline-block;
  background: url(../img/icon/arrow.svg) center no-repeat;
  width: 5px;
  height: 9.31px;
  position: absolute;
  top: 4px;
  right: -67px;
  transition: all 300ms;
}
.sub-menu__link_arrow:hover::after {
  transform: scale(1.5);
}
.sub-menu__fashion-menu {
  position: absolute;
  top: 10%;
  left: 100%;
  z-index: 2;
  background-color: #fff;
  padding: 30px;
  min-width: 180px;
  border: 0.5px solid #e7e7e7;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
}

.fashion-menu {
}
.fashion-menu__title {
}
.fashion-menu__item {
}
.fashion-menu__link {
}
.header__menu {
}
.menu {
}
.menu__list {
  line-height: 1.21;
  font-weight: 600;
  color: #212b36;
}
.menu__item {
  display: inline-block;
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 35px;
}
.menu__link {
}
.menu__link:hover {
  color: #3056d3;
}
.menu__link_arrow::after {
  content: "";
  display: inline-block;
  background: url(../img/icon/Vector.svg) center no-repeat;
  width: 10.8px;
  height: 5.8px;
  position: absolute;
  top: 40%;
  right: -18px;
  transition: all 300ms;
}
.menu__link_arrow:hover::after {
  transform: scale(1.5);
}
.header__actions {
}
.header__action-item {
  display: inline-block;
}
.header__action-item:not(:last-child) {
  margin-right: 20px;
}
