*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Oswald", sans-serif;
  color: #000000;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1908px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page__brand {
  padding-top: 40px;
  margin-bottom: 30px;
}

.brand-page__content {
  position: relative;
  border: 2px solid #c4c4c4;
}
.brand-page__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 198px;
  padding: 29px 12px;
}
@media (max-width: 690px) {
  .brand-page__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.brand-page__title {
  max-width: 450px;
  width: 100%;
  max-height: 45px;
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 24px;
  line-height: 1.7;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  padding-bottom: 10px;
}
@media (max-width: 900px) {
  .brand-page__title {
    max-width: 400px;
  }
}
@media (max-width: 650px) {
  .brand-page__title {
    max-width: 350px;
  }
}
@media (max-width: 500px) {
  .brand-page__title {
    font-size: 20px;
    max-width: 300px;
  }
}
@media (max-width: 375px) {
  .brand-page__title {
    font-size: 20px;
    max-width: 250px;
  }
}

.logo-brand__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 235px;
  width: 100%;
  min-height: 141px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1550px) {
  .logo-brand__item {
    max-width: 200px;
    width: 100%;
    min-height: 120px;
  }
}
@media (max-width: 1024px) {
  .logo-brand__item {
    max-width: 200px;
    width: 100%;
    min-height: 100px;
  }
}
@media (max-width: 991.98px) {
  .logo-brand__item {
    min-height: 80px;
  }
}
@media (max-width: 767.98px) {
  .logo-brand__item {
    max-width: 170px;
    min-height: 50px;
  }
}
@media (max-width: 690px) {
  .logo-brand__item {
    border: 1px solid #000;
  }
}
@media (max-width: 425px) {
  .logo-brand__item {
    max-width: 150px;
    min-height: 40px;
  }
}
@media (any-hover: hover) {
  .logo-brand__item:hover, .logo-brand__item.active {
    background-color: #f0f2f2;
    position: relative;
    z-index: 2;
  }
}
@media (max-width: 767.98px) {
  .logo-brand__item img {
    width: 100px;
    height: 30px;
  }
}
@media (max-width: 425px) {
  .logo-brand__item img {
    width: 80px;
    height: 30px;
  }
}

.page__choose {
  margin-bottom: 30px;
}

.choose-page__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
  row-gap: 29px;
}
@media (max-width: 1024px) {
  .choose-page__items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 425px) {
  .choose-page__items {
    row-gap: 20px;
  }
}
.choose-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.choose-page__item_right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 82px;
  padding-right: 64px;
}
@media (max-width: 1500px) {
  .choose-page__item_right {
    padding-right: 40px;
  }
}
@media (max-width: 1250px) {
  .choose-page__item_right {
    padding-right: 15px;
  }
}
@media (max-width: 1024px) {
  .choose-page__item_right {
    padding: 0px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.choose-page__item_left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 94px 0px 0px 94px;
}
@media (max-width: 1500px) {
  .choose-page__item_left {
    padding-left: 60px;
  }
}
@media (max-width: 1250px) {
  .choose-page__item_left {
    padding-left: 15px;
  }
}
@media (max-width: 1024px) {
  .choose-page__item_left {
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .choose-page__item_left {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.choose-page__item_big {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 103px;
  padding-left: 86px;
  grid-row: span 2;
}
@media (max-width: 1500px) {
  .choose-page__item_big {
    padding-left: 60px;
  }
}
@media (max-width: 1250px) {
  .choose-page__item_big {
    padding-left: 15px;
  }
}
@media (max-width: 1024px) {
  .choose-page__item_big {
    padding: 0px;
  }
}

.item-choose__image {
  padding-bottom: 40.969697%;
}
@media (max-width: 1250px) {
  .item-choose__image_last {
    opacity: 0.8;
  }
}
@media (max-width: 1024px) {
  .item-choose__image_last {
    opacity: 1;
  }
}
.item-choose__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1024px) {
  .item-choose__image_big {
    padding-bottom: 80%;
  }
}
.item-choose__image_big img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1500px) {
  .item-choose__image_big img {
    opacity: 0.8;
  }
}
@media (max-width: 1024px) {
  .item-choose__image_big img {
    opacity: 1;
  }
}
@media (max-width: 550px) {
  .item-choose__image_big img {
    opacity: 0.8;
  }
}
.item-choose__right-block {
  max-width: 369px;
  position: relative;
  z-index: 3;
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  .item-choose__right-block {
    padding-bottom: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 800px) {
  .item-choose__right-block {
    padding-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .item-choose__right-block {
    padding-right: 15px;
  }
}
@media (max-width: 500px) {
  .item-choose__right-block {
    padding-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .item-choose__right-block {
    padding-bottom: 10px;
  }
}
.item-choose__title {
  font-size: 48px;
  line-height: 1.29;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (max-width: 1600px) {
  .item-choose__title {
    font-size: 40px;
  }
}
@media (max-width: 1250px) {
  .item-choose__title {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  .item-choose__title {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .item-choose__title {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .item-choose__title {
    font-size: 25px;
  }
}
@media (max-width: 450px) {
  .item-choose__title {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .item-choose__title {
    font-size: 18px;
  }
}
.item-choose__title_width {
  max-width: 221px;
}
@media (max-width: 800px) {
  .item-choose__title_width {
    max-width: 369px;
  }
}
.item-choose__title_width:not(:last-child) {
  margin-bottom: 7px;
}
.item-choose__title_big {
  font-size: 96px;
  line-height: 114.583333%; /* 110/96 */
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 1600px) {
  .item-choose__title_big {
    font-size: 70px;
  }
}
@media (max-width: 1250px) {
  .item-choose__title_big {
    font-size: 50px;
  }
}
@media (max-width: 1024px) {
  .item-choose__title_big {
    font-size: 70px;
  }
}
@media (max-width: 767.98px) {
  .item-choose__title_big {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .item-choose__title_big {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  .item-choose__title_big {
    font-size: 30px;
  }
}
.item-choose__sub-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 1.68;
  font-weight: 300;
}
@media (max-width: 500px) {
  .item-choose__sub-title {
    font-size: 18px;
  }
}
@media (max-width: 450px) {
  .item-choose__sub-title {
    font-size: 14px;
  }
}
.item-choose__sub-title:not(:last-child) {
  margin-bottom: 51px;
}
@media (max-width: 650px) {
  .item-choose__sub-title:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  .item-choose__sub-title:not(:last-child) {
    margin-bottom: 10px;
  }
}
.item-choose__button {
  display: inline-block;
  font-size: 18px;
  line-height: 1.48;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 13px 45px;
  border: 2px solid #000;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
@media (max-width: 450px) {
  .item-choose__button {
    font-size: 16px;
    padding: 10px 30px;
  }
}
@media (max-width: 400px) {
  .item-choose__button {
    padding: 8px 20px;
  }
}
@media (any-hover: hover) {
  .item-choose__button:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
.item-choose__big-block {
  max-width: 357px;
  position: relative;
  z-index: 3;
}
@media (max-width: 1024px) {
  .item-choose__big-block {
    padding-bottom: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 550px) {
  .item-choose__big-block {
    padding-left: 15px;
  }
}
.item-choose__left-block {
  max-width: 369px;
  position: relative;
  z-index: 3;
  padding-bottom: 30px;
}
@media (max-width: 1024px) {
  .item-choose__left-block {
    padding-bottom: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 800px) {
  .item-choose__left-block {
    padding-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .item-choose__left-block {
    padding-left: 15px;
  }
}
@media (max-width: 500px) {
  .item-choose__left-block {
    padding-bottom: 20px;
  }
}
@media (max-width: 375px) {
  .item-choose__left-block {
    padding-bottom: 10px;
  }
}

.shop-page {
  margin-bottom: 24px;
}
.shop-page__column {
  display: grid;
  grid-template-columns: 21.26% 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
}
@media (max-width: 991.98px) {
  .shop-page__column {
    grid-template-columns: 1fr;
  }
}

.column-shop__category {
  border-right: 1px solid #c4c4c4;
}
@media (max-width: 991.98px) {
  .column-shop__category {
    border-right: none;
    text-align: center;
  }
}
.column-shop__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  row-gap: 48px;
}
@media (max-width: 1200px) {
  .column-shop__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.98px) {
  .column-shop__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .column-shop__wrapper {
    row-gap: 35px;
  }
}
@media (max-width: 500px) {
  .column-shop__wrapper {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 425px) {
  .column-shop__wrapper {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.column-shop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.column-shop__button {
  padding: 63px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .column-shop__button {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.column-shop__button a {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #828282;
  padding: 12px 35px;
  border: 2px solid #c4c4c4;
  text-align: center;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}
@media (any-hover: hover) {
  .column-shop__button a:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.category-column__title {
  font-size: 24px;
}
.category-column__title:not(:last-child) {
  margin-bottom: 31px;
}
.category-column__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 991.98px) {
  .category-column__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 500px) {
  .category-column__form {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 425px) {
  .category-column__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.form-checkbox__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.form-checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.form-checkbox__input:focus-visible + .form-checkbox__label {
  outline: 1px solid #000;
  border-radius: 4px;
}
.form-checkbox__input:checked + .form-checkbox__label::before {
  background: url(../img/shop/icons/On.svg) center/10px 10px no-repeat;
}
@media (max-width: 767.98px) {
  .form-checkbox__input:checked + .form-checkbox__label::before {
    background-size: 15px;
  }
}
.form-checkbox__label {
  font-size: 14px;
  text-transform: uppercase;
  color: #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 9px;
     -moz-column-gap: 9px;
          column-gap: 9px;
  cursor: pointer;
}
.form-checkbox__label:hover, .form-checkbox__label.active {
  color: #000000;
}
.form-checkbox__label::before {
  content: "";
  display: inline-block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 1px solid #828282;
}
@media (max-width: 767.98px) {
  .form-checkbox__label::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15px;
            flex: 0 0 15px;
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 767.98px) {
  .form-checkbox__label {
    font-size: 18px;
  }
}

.item-shop__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-shop__image {
  display: block;
  position: relative;
  padding-bottom: 130.813953%; /* 450/344 */
  margin-bottom: 14px;
  overflow: hidden;
}
.item-shop__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (any-hover: hover) {
  .item-shop__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-shop__title {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  color: #bdbdbd;
}
.item-shop__sub-title {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 520px) {
  .item-shop__sub-title {
    font-size: 14px;
  }
}
@media (any-hover: hover) {
  .item-shop__sub-title:hover {
    text-decoration: underline;
  }
}
.item-shop__sub-title:not(:last-child) {
  margin-bottom: 18px;
}
.item-shop__price {
  font-size: 22px;
  line-height: 1.45;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .item-shop__price {
    font-size: 16px;
  }
}
.item-shop__price_discount {
  color: #eb5757;
}
.item-shop__price_discount::after {
  content: "119,00 EUR";
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #828282;
  text-decoration: line-through;
  padding-left: 13px;
}

.page__banner {
  margin-bottom: 77px;
}
@media (max-width: 767.98px) {
  .page__banner {
    margin-bottom: 40px;
  }
}

.banner-page__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 14.32%;
  padding-top: 77px;
}
@media (max-width: 1250px) {
  .banner-page__content {
    padding-left: 8%;
    padding-top: 38.5px;
    padding-bottom: 38.5px;
  }
}
@media (max-width: 767.98px) {
  .banner-page__content {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 700px) {
  .banner-page__content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .banner-page__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-left: 4%;
  }
}
.banner-page__image {
  padding-bottom: 24.3%; /* 467/1878 */
}
.banner-page__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1200px) {
  .banner-page__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 991.98px) {
  .banner-page__image img {
    opacity: 0.7;
  }
}
@media (max-width: 500px) {
  .banner-page__image img {
    opacity: 0.6;
  }
}
.banner-page__block-info {
  max-width: 700px;
  position: relative;
  padding: 25px 0px;
}
@media (max-width: 1250px) {
  .banner-page__block-info {
    max-width: 550px;
    padding-right: 75px;
  }
}
@media (max-width: 600px) {
  .banner-page__block-info {
    max-width: 300px;
  }
}
@media (max-width: 428px) {
  .banner-page__block-info {
    padding-right: 5px;
  }
}

.block-info__title {
  font-size: 56px;
  line-height: 1.28;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  padding: 19px 57px 0px 0px;
}
@media (max-width: 1250px) {
  .block-info__title {
    font-size: 45px;
  }
}
@media (max-width: 1150px) {
  .block-info__title {
    font-size: 40px;
  }
}
@media (max-width: 991.98px) {
  .block-info__title {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .block-info__title {
    border: none;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .block-info__title {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .block-info__title {
    font-size: 18px;
  }
}
.block-info__title:not(:last-child) {
  margin-bottom: 17px;
}
@media (max-width: 600px) {
  .block-info__title:not(:last-child) {
    margin-bottom: 10px;
  }
}
.block-info__sub-title {
  font-family: "Roboto", sans-serif;
  max-width: 639px;
  font-size: 25px;
  line-height: 1.48;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.block-info__sub-title:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .block-info__sub-title:not(:last-child) {
    margin-bottom: 10px;
  }
}
.block-info__sub-title p:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1250px) {
  .block-info__sub-title {
    font-size: 20px;
  }
}
@media (max-width: 1150px) {
  .block-info__sub-title {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .block-info__sub-title {
    max-width: 400px;
  }
}
@media (max-width: 700px) {
  .block-info__sub-title {
    font-size: 16px;
    max-width: 350px;
  }
}
@media (max-width: 500px) {
  .block-info__sub-title {
    font-size: 14px;
    max-width: 300px;
  }
}
@media (max-width: 425px) {
  .block-info__sub-title {
    font-size: 12px;
  }
}
.block-info__button {
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 13px 35px;
  border: 2px solid #000000;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
@media (max-width: 600px) {
  .block-info__button {
    font-size: 14px;
    padding: 8px 25px;
  }
}
@media (any-hover: hover) {
  .block-info__button:hover {
    background-color: #000000;
    color: #ffffff;
  }
}

.popular-page__title, .featured-page__title {
  font-size: 24px;
  line-height: 1.5;
}

.page__featured {
  margin-bottom: 79px;
}
@media (max-width: 500px) {
  .page__featured {
    margin-bottom: 50px;
  }
}

.featured-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 25px;
}
.featured-page__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.featured-page__arrow {
  display: inline-block;
  padding: 14.4px 19.89px;
  border: 2px solid #c4c4c4;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
@media (any-hover: hover) {
  .featured-page__arrow:hover {
    background-color: rgba(175, 168, 168, 0.393);
  }
}
.featured-page__arrow img {
  width: 8px;
  height: 14px;
}
.featured-page__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  row-gap: 48px;
}
@media (max-width: 1450px) {
  .featured-page__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 991.98px) {
  .featured-page__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.98px) {
  .featured-page__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .featured-page__items {
    row-gap: 35px;
  }
}
@media (max-width: 425px) {
  .featured-page__items {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.featured-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-featured__image {
  display: block;
  position: relative;
  padding-bottom: 127.118644%; /* 450/354 */
  margin-bottom: 14px;
  overflow: hidden;
}
.item-featured__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (any-hover: hover) {
  .item-featured__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-featured__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-featured__title {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  color: #bdbdbd;
}
.item-featured__sub-title {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (any-hover: hover) {
  .item-featured__sub-title:hover {
    text-decoration: underline;
  }
}
@media (max-width: 520px) {
  .item-featured__sub-title {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .item-featured__sub-title {
    font-size: 12px;
  }
}
.item-featured__sub-title:not(:last-child) {
  margin-bottom: 18px;
}
.item-featured__price {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .item-featured__price {
    font-size: 16px;
  }
}

.popular-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-bottom: 25px;
}
.popular-page__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}
.popular-page__arrow {
  display: inline-block;
  padding: 14.4px 19.89px;
  border: 2px solid #c4c4c4;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
@media (any-hover: hover) {
  .popular-page__arrow:hover {
    background-color: rgba(175, 168, 168, 0.393);
  }
}
.popular-page__arrow img {
  width: 8px;
  height: 14px;
}
.popular-page__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  row-gap: 48px;
}
@media (max-width: 1450px) {
  .popular-page__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 991.98px) {
  .popular-page__items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767.98px) {
  .popular-page__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .popular-page__items {
    row-gap: 35px;
  }
}
@media (max-width: 425px) {
  .popular-page__items {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.popular-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-popular__image {
  display: block;
  position: relative;
  padding-bottom: 127.118644%; /* 450/354 */
  margin-bottom: 14px;
  overflow: hidden;
}
.item-popular__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (any-hover: hover) {
  .item-popular__image img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.item-popular__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-popular__title {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
  color: #bdbdbd;
}
.item-popular__sub-title {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (any-hover: hover) {
  .item-popular__sub-title:hover {
    text-decoration: underline;
  }
}
@media (max-width: 520px) {
  .item-popular__sub-title {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .item-popular__sub-title {
    font-size: 12px;
  }
}
.item-popular__sub-title:not(:last-child) {
  margin-bottom: 18px;
}
.item-popular__price {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 425px) {
  .item-popular__price {
    font-size: 16px;
  }
}