*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(210, 188, 210);
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  max-width: 1300px;
  padding: 0px 15px;
  margin: 0 auto;
}

.title {
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}
.title:not(:last-child) {
  margin-bottom: 20px;
}

.todo-list {
  width: 800px;
  margin: 0 auto;
}
.todo-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.todo-list__input {
  border: 2px solid green;
  padding: 5px;
  width: 600px;
  border-radius: 5px;
  background-color: #85b4d8;
  color: #000000;
}
.todo-list__input::-webkit-input-placeholder {
  color: #000000;
}
.todo-list__input::-moz-placeholder {
  color: #000000;
}
.todo-list__input:-ms-input-placeholder {
  color: #000000;
}
.todo-list__input::-ms-input-placeholder {
  color: #000000;
}
.todo-list__input::placeholder {
  color: #000000;
}
.todo-list__items {
  display: grid;
  gap: 15px;
  padding-top: 15px;
}
.todo-list__item {
  background-color: #85b4d8;
  height: 40px;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (any-hover: hover) {
  .todo-list__button-add:hover::after {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.todo-list__button-add::after {
  content: "";
  display: inline-block;
  background: url("../img/add.svg") 0 0/100% no-repeat;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.todo-list__content:not(:last-child) {
  margin-bottom: 20px;
}
.todo-list__button-delete {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 25px;
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #f43535;
  text-align: center;
  display: none;
}

.delete {
  background: url("../img/delete.svg") 0 0/100% no-repeat;
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .delete:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}