@import url("reset.css");

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #637381;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}
[class*="__container"] {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.page {
}
.page__products {
  padding-top: 20px;
}
.products {
}
.products__container {
}
.products__header {
  display: grid;
  column-gap: 2.564103%; /* 30/1170 */
  row-gap: 6.122449%;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}
.header-products {
}
.header-products__item {
  position: relative;
}
.header-products__item_span {
  grid-row: span 2;
}
.header-products__image {
  position: relative;
  padding-bottom: 40.350877%; /* 230/570 */
}
.header-products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-products__image_big {
  position: relative;
  padding-bottom: 85.964912%; /* 490/570 */
}
.header-products__image_big img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-products__block-text {
  max-width: 370px;
  position: absolute;
  top: 8.16%;
  left: 7%;
}
.header-products__block-text_position {
  position: absolute;
  top: 17.39%;
  left: 7%;
}
.header-products__text {
  line-height: 1.5;
  font-weight: 600;
  position: relative;
  transition: color 0.5s;
}
.header-products__text:not(:last-child) {
  margin-bottom: 12px;
  display: inline-block;
}
.header-products__title {
  font-size: 28px;
  line-height: 1.25;
  font-weight: 600;
  color: #212b36;
  transition: color 0.5s;
}
/* ------------------------------------- */
@media (any-hover: hover) {
  .header-products__text:hover {
    color: #3056d3;
  }
  .header-products__title:hover {
    color: #3056d3;
  }
}
/* ------------------------------------- */
@media (max-width: 1060px) {
  .header-products__block-text_position {
    max-width: 325px;
  }
}
@media (max-width: 991.98px) {
  .products__header {
    margin-bottom: 60px;
  }
  .header-products__block-text_position {
    max-width: 290px;
  }
  .header-products__title {
    font-size: 20px;
  }
}
@media (max-width: 910px) {
  .header-products__title {
    font-size: 17px;
  }
  .header-products__block-text {
    left: 4%;
  }
}
@media (max-width: 767.98px) {
  .products__header {
    row-gap: 4%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
  }
  .header-products__item_span {
    grid-row: span 1;
  }
  .header-products__image_big {
    position: relative;
    padding-bottom: 40.350877%; /* 490/570 */
  }
  .header-products__title {
    font-size: 28px;
  }
  .header-products__block-text {
    max-width: 370px;
    left: 7%;
  }
  .header-products__block-text_position {
    top: 8.16%;
  }
}
@media (max-width: 550px) {
  .header-products__title {
    font-size: 25px;
  }
  .header-products__block-text {
    max-width: 300px;
  }
  .header-products__block-text {
    top: 8.16%;
    left: 4%;
  }
}
@media (max-width: 460px) {
  .header-products__title {
    font-size: 18px;
  }
  .header-products__block-text {
    max-width: 250px;
  }
}
@media (max-width: 400px) {
  .header-products__title {
    font-size: 18px;
  }
  .header-products__block-text {
    max-width: 200px;
  }
}
/* ----------------BODY------------------------- */
.products__body {
  padding: 120px 0px;
  background-color: #fafafa;
}
.body-products {
}
.body-products__top {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 70px;
}
.body-products__title {
  font-size: 40px;
  line-height: 1.12;
  font-weight: 700;
  justify-self: center;
  color: #212b36;
  text-align: center;
}
.body-products__title:not(:last-child) {
  margin-bottom: 15px;
}
.body-products__sub-title {
  line-height: 1.5;
  font-weight: 500;
  justify-self: center;
  max-width: 490px;
  text-align: center;
  color: #637381;
}
.body-products__items {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 40px;
}
.body-products__item {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.item-body {
}
.item-body__image {
  display: block;
  position: relative;
  padding-bottom: 78.804348%; /* 290/368 */
  overflow: hidden;
}
.item-body__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  transition: transform 0.5s;
}
.item-body__image img:hover {
  transform: scale(1.1);
}
.item-body__info {
  padding: 25px;
  flex-grow: 1;
}
.item-body__title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 600;
  color: #212b36;
}
.item-body__title:not(:last-child) {
  margin-bottom: 15px;
}
.item-body__text {
  line-height: 1.5;
  font-weight: 500;
  color: #637381;
}
.item-body__text p:not(:last-child) {
  margin-bottom: 10px;
}
.item-body__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  border-top: 1px solid #e7e7e7;
}
.item-body__reting {
  padding-right: 5px;
}
.item-body__reting span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../img/icons/Vector.svg) no-repeat;
}
.item-body__reviews {
  line-height: 1.5;
  font-weight: 500;
  color: #637381;
  margin-left: 7px;
}
.item-body__price {
  line-height: 1.5;
  font-weight: 600;
  color: #212b36;
  padding-left: 15px;
  padding: 15px 20px;
  border-left: 1px solid #e7e7e7;
}
.products__body__arrows {
  max-width: 84px;
  height: 42px;
  border: 0.5px solid #e7e7e7;
  border-radius: 23px;
  position: relative;
  margin: 0 auto;
  padding: 6px;
}
.arrows__left {
  position: absolute;
  top: 14.28%;
  left: 7.14%;
  content: "";
  display: inline-block;
  background: url(../img/icons/left.svg) center/ 11.25px 9.75px no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  transition: all 0.5s;
}
.arrows__left:hover {
  background: #3056d3 url(../img/icons/leftwhite.svg) center/ 11.25px 9.75px
    no-repeat;
}
.arrows__right {
  position: absolute;
  top: 14.28%;
  right: 7.14%;
  display: inline-block;
  background: url(../img/icons/right.svg) center / 11.25px 9.75px no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  transition: background 0.5s;
}
.arrows__right:hover {
  background: #3056d3 url(../img/icons/rightwhite.svg) center/ 11.25px 9.75px
    no-repeat;
}
/* ------------------------------------ */
@media (any-hover: hover) {
}
/* --------------------------------- */
@media (max-width: 991.98px) {
  .products__body {
    padding-top: 70px;
  }
}
