@use "sass:math";

@import "_mixins.scss";
@import "_reset.scss";

body {
  font-family: "Poppins", sans-serif;
  font-size: rem(18);
  color: #9c9c9c;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  & > main {
    flex-grow: 1;
  }
}
[class*="__container"] {
  max-width: rem(1230);
  padding: 0 rem(15);
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #ffffff;
  // .header__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(35);
    min-height: rem(133);
    padding-top: rem(5);
    padding-bottom: rem(5);
    @media (max-width: em(991.98)) {
      min-height: rem(80);
    }
    @media (max-width: em(450)) {
      column-gap: rem(20);
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 4;
    & img {
      max-width: rem(126);
      height: rem(54);
      @media (max-width: em(450)) {
        max-width: rem(100);
      }
    }
  }

  // .header__navigation

  &__navigation {
    display: flex;
    column-gap: rem(74);
    align-items: center;
    @media (max-width: em(991.98)) {
      column-gap: rem(40);
    }
    @media (max-width: em(500)) {
      column-gap: rem(20);
    }
    @media (max-width: em(450)) {
      column-gap: rem(15);
    }
  }

  // .header__menu

  &__menu {
  }

  &__burger-menu {
    display: none;
    @media (max-width: em(991.98)) {
      display: block;
      flex: 0 0 rem(30);
      width: rem(30);
      height: rem(18);
      position: relative;
    }
    @media (max-width: em(450)) {
    }
    &::before,
    &::after,
    & span {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: rem(2);
      background-color: #000000;
    }
    &::before {
      top: 100%;
    }
    &::after {
      bottom: 100%;
    }
    & span {
      top: 50%;
      margin-bottom: rem(0.5);
    }
  }
  // .header__button

  &__button {
    @include button;
    transition: all 0.5s;
    position: relative;
    z-index: 4;
    @media (any-hover: hover) {
      &:hover {
        background-color: #ffffff;
        border: 1px solid #2c3878;
        color: #2c3878;
      }
    }
    @media (max-width: em(500)) {
      padding: rem(10) rem(20);
    }
    @media (max-width: em(450)) {
      padding: rem(10) rem(15);
    }
  }
}
.menu-header {
  &__wrapper {
    transition: all 0.5s;
    @media (max-width: em(991.98)) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: #2c3878;
      padding: rem(100) rem(20) rem(0) rem(20);
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 5;
        width: 100%;
        height: rem(80);
        background-color: #ffffff;
        transition: all 0.5s;
        @media (max-width: em(450)) {
          height: rem(80);
        }
      }
    }
  }
  // .menu-header__list

  &__list {
    display: flex;
    column-gap: rem(74);
    @media (max-width: em(1150)) {
      column-gap: rem(50);
    }
    @media (max-width: em(991.98)) {
      flex-direction: column;
      row-gap: rem(25);
    }
  }

  // .menu-header__item

  &__item {
    @media (any-hover: hover) {
      &:hover .menu-header__link {
        text-shadow: rem(1) rem(1) rem(2) #2c3878;
      }
    }
  }

  // .menu-header__link

  &__link {
    font-size: rem(16);
    line-height: 1.5;
    color: #333333;
    transition: text-shadow 0.5s;
    @media (max-width: em(991.98)) {
      color: #ffffff;
      font-size: rem(20);
    }
  }
}
@media (max-width: rem(991.98)) {
  .menu-open .menu-header__wrapper,
  .menu-open .menu-header__wrapper::before {
    left: 0;
  }
}
.active {
  font-weight: 600;
}
// --------------PORTFOLIO-HEADER------------
.page {
  // .page__portfolio

  &__portfolio {
    padding-top: rem(191);
    margin-bottom: rem(100);
    @media (max-width: em(767.98)) {
      padding-top: rem(130);
    }
    @media (max-width: em(767.98)) {
      margin-bottom: rem(50);
    }
    @media (max-width: em(500)) {
      padding-top: rem(110);
    }
  }
}
.portfolio-page {
  // .portfolio-page__container

  &__container {
  }

  // .portfolio-page__header

  &__header {
    text-align: center;
  }
}
.header-portfolio {
  // .header-portfolio__title
  &__text-block {
    max-width: rem(520);
    margin: 0 auto;
    text-align: center;
    margin-bottom: rem(57);
    @media (max-width: em(500)) {
      margin-bottom: rem(40);
    }
  }
  &__title {
    font-size: rem(56);
    line-height: 1.4;
    font-weight: 700;
    color: #000000;
    &:not(:last-child) {
      margin-bottom: rem(36);
      @media (max-width: em(500)) {
        font-size: rem(45);
        margin-bottom: rem(20);
      }
    }
  }

  // .header-portfolio__sub-title

  &__sub-title {
    line-height: 1.61;
    color: #000000;
  }

  // .header-portfolio__image

  &__image {
    position: relative;
    padding-bottom: 42.75%; /* 513/1200 */
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
// -------------------CONTENT-PORTFOLIO-------------
.page {
  // .page__content-portfolio

  &__content-portfolio {
    margin-bottom: rem(132);
    @media (max-width: em(767.98)) {
      margin-bottom: rem(70);
    }
    @media (max-width: em(500)) {
      margin-bottom: rem(50);
    }
  }
}
.content-portfolio {
  // .content-portfolio__container

  &__container {
  }

  // .content-portfolio__title

  &__title {
    font-size: rem(16);
    line-height: 1.5;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
    column-gap: rem(23);
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
    &::after {
      content: "";
      flex: 0 1 rem(511);
      height: rem(2);
      background-color: #000000;
    }
  }

  // .content-portfolio__items

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
    @media (max-width: em(1200)) {
      row-gap: rem(50);
    }
  }

  // .content-portfolio__item

  &__item {
    display: flex;
    // flex-wrap: wrap;
    column-gap: rem(94);
    align-items: flex-start;
    &:nth-child(even) {
      flex-direction: row-reverse;
      @media (max-width: em(1200)) {
        flex-direction: column-reverse;
        align-items: stretch;
        row-gap: rem(30);
      }
    }
    @media (max-width: em(1200)) {
      flex-direction: column-reverse;
      align-items: stretch;
      row-gap: rem(30);
    }
  }
}
.item-portfolio {
  // .item-portfolio__block-photo

  &__block-photo {
  }

  // .item-portfolio__info

  &__info {
    flex: 0 0 18.58%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: rem(156);
    @media (max-width: em(1200)) {
      padding-top: 0;
      flex: 0 0 100%;
      align-items: center;
      text-align: center;
    }
  }

  // .item-portfolio__title

  &__title {
    font-size: rem(24);
    line-height: 1.4;
    font-weight: 600;
    color: #333333;
    transition: text-shadow 0.5s;
    @media (any-hover: hover) {
      &:hover {
        text-shadow: rem(1) rem(1) rem(2) #2c3878;
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  // .item-portfolio__text

  &__text {
    line-height: 1.6;
    margin-bottom: rem(40);
    & p:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  // .item-portfolio__button

  &__button {
    @include button;
    transition: all 0.5s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #ffffff;
        border: 1px solid #2c3878;
        color: #2c3878;
      }
    }
  }
}
.block-photo {
  flex: 0 0 73.58%;
  position: relative;
  // .block-photo__image

  &__image {
    display: block;
    position: relative;
    padding-bottom: 59.456399%; /* 525/883 */
    overflow: hidden;
    @media (max-width: em(500)) {
      margin-bottom: rem(20);
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  // .block-photo__author

  &__author {
    display: inline-flex;
    column-gap: rem(20);
    align-items: center;
    padding: rem(17) rem(52) rem(17) rem(20);
    background-color: #ffffff;
    position: absolute;
    top: 4.95%;
    right: -21.61%;
    @media (max-width: em(1200)) {
      right: 3%;
    }
    @media (max-width: em(767.98)) {
      padding: rem(10) rem(30) rem(10) rem(15);
    }
    @media (max-width: em(500)) {
      position: static;
      background-color: #2c3778;
    }
  }
  &__author-left {
    display: inline-flex;
    column-gap: rem(20);
    align-items: center;
    padding: rem(17) rem(52) rem(17) rem(20);
    background-color: #ffffff;
    position: absolute;
    top: 4.95%;
    left: -21.61%;
    @media (max-width: em(1200)) {
      left: 3%;
    }
    @media (max-width: em(767.98)) {
      padding: rem(10) rem(30) rem(10) rem(15);
    }
    @media (max-width: em(500)) {
      position: static;
      background-color: #2c3778;
    }
  }
}
.author-block {
  // .author-block__image
  &__image {
    & img {
      width: rem(51);
      height: rem(51);
      border-radius: 50%;
    }
  }

  // .author-block__title
  &__info {
  }
  &__title {
    line-height: 1.38;
    font-weight: 600;
    color: #000000;
    transition: text-shadow 0.5s;
    @media (any-hover: hover) {
      &:hover {
        text-shadow: rem(1) rem(1) rem(2) #2c3878;
      }
    }
  }
  &__job-title {
    line-height: 1.6;
  }
}
// ----------SERVICE-----------------
.page {
  // .page__service

  &__service {
    margin-bottom: rem(100);
    @media (max-width: em(767.98)) {
      margin-bottom: rem(50);
    }
  }
}
.service-page {
  // .service-page__container

  &__container {
  }

  // .service-page__title

  &__title {
    font-size: rem(16);
    line-height: 1.5;
    font-weight: 500;
    color: #000000;
    display: flex;
    align-items: center;
    column-gap: rem(19);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    &::after {
      content: "";
      flex: 0 1 rem(516);
      height: rem(2);
      background-color: #000000;
    }
  }

  // .service-page__header

  &__header {
    margin-bottom: rem(40);
    @media (max-width: em(600)) {
      text-align: center;
    }
  }

  // .service-page__items

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(18);
    row-gap: rem(40);
    @media (max-width: em(991.98)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(600)) {
      grid-template-columns: 1fr;
    }
  }

  // .service-page__item

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    row-gap: rem(20);
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    padding: rem(20) rem(27) rem(22) rem(22);
  }
}
.header-service {
  // .header-service__title

  &__title {
    font-size: rem(36);
    line-height: 1.69;
    font-weight: 600;
    color: #333333;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  // .header-service__text

  &__text {
    line-height: 1.6;
    max-width: rem(480);
    @media (max-width: em(600)) {
      max-width: 100%;
    }
  }
}
.item-service {
  // .item-service__circle

  &__circle {
    width: rem(63);
    height: rem(63);
    border-radius: 50%;
    background-color: #d9d9d9;
  }

  // .item-service__title

  &__title {
    font-size: rem(24);
    line-height: 1.41;
    font-weight: 600;
    color: #333333;
    flex-grow: 1;
  }

  // .item-service__text

  &__text {
    line-height: 1.6;
    & p:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}
// --------BOTTOM-BLOCK------------
.page {
  // .page__bottom-block

  &__bottom-block {
    background-color: #2c3778;
    padding: rem(38) 0;
    margin-bottom: rem(80);
    @media (max-width: em(767.98)) {
      margin-bottom: rem(50);
    }
  }
}
.bottom-block {
  // .bottom-block__container

  &__container {
    display: flex;
    column-gap: rem(155);
    row-gap: rem(30);
    @media (max-width: em(1250)) {
      flex-direction: column;
    }
  }

  // .bottom-block__title

  &__title {
    font-size: rem(36);
    line-height: 1.69;
    color: #ffffff;
    flex: 0 1 rem(613);
    @media (max-width: em(1250)) {
      flex: 0 1 100%;
    }
    @media (max-width: em(500)) {
      font-size: rem(28);
    }
  }

  // .bottom-block__right

  &__right {
    flex: 0 1 rem(432);
    @media (max-width: em(1250)) {
      flex: 0 1 100%;
    }
  }

  // .bottom-block__text

  &__text {
    line-height: 1.6;
    color: #d9d9d9;
    &:not(:last-child) {
      margin-bottom: rem(20);
      @media (max-width: em(1250)) {
        margin-bottom: rem(40);
      }
    }
    & p:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  // .bottom-block__button

  &__button {
    display: inline-block;
    font-size: rem(14);
    line-height: 1.5;
    font-weight: 500;
    color: #333333;
    padding: rem(14) rem(32);
    background-color: #ffffff;
    transition: background-color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #ffffffa5;
      }
    }
  }
}
// ------------FOOTER---------------------
.footer {
  padding-bottom: rem(80);
  @media (max-width: em(767.98)) {
    padding-bottom: rem(40);
  }
  // .footer__container

  &__container {
  }

  // .footer__columns

  &__columns {
    display: flex;
    justify-content: space-between;
    column-gap: rem(40);
    row-gap: rem(30);
    @media (max-width: em(991.98)) {
      flex-direction: column;
    }
  }

  // .footer__column

  &__column {
  }

  // .footer__logo

  &__logo {
    margin-bottom: rem(20);
  }

  // .footer__title

  &__title {
    max-width: rem(490);
    font-size: rem(36);
    line-height: 1.69;
    font-weight: 600;
    color: #333333;
    @media (max-width: em(991.98)) {
      max-width: 100%;
    }
  }

  // .footer__right-column

  &__right-column {
  }
}
.right-column {
  flex: 0 1 rem(440);
  // .right-column__title
  @media (max-width: em(991.98)) {
    flex: 0 1 100%;
  }
  &__title {
    line-height: 1.6;
    color: #333333;
    display: flex;
    align-items: center;
    column-gap: rem(10);
    &::before {
      content: "";
      display: inline-block;
      width: rem(14);
      height: rem(14);
      border-radius: 50%;
      background-color: #333333;
    }
    &:not(:last-child) {
      margin-bottom: rem(23);
    }
  }

  // .right-column__form

  &__form {
    margin-bottom: rem(40);
    border-bottom: rem(1) solid #141414;
    padding-bottom: rem(15);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .right-column__row

  &__row {
  }
  &__arrow {
  }
  // .right-column__input

  &__input {
    padding: 0 rem(10);
  }

  // .right-column__social

  &__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: rem(15);
  }
}
.social-footer {
  // .social-footer__title

  &__title {
    font-size: rem(16);
    line-height: 1.6;
    color: #333333;
  }

  // .social-footer__icons

  &__icons {
    display: flex;
    column-gap: rem(35);
  }

  // .social-footer__link

  &__link {
    width: rem(35);
    height: rem(35);
    border-radius: 50%;
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #8c8b8b;
      }
    }
    & img {
      width: rem(24);
      height: rem(23);
    }
    // &::before {
    //   content: "";

    //   width: rem(32);
    //   height: rem(32);
    //   border-radius: 50%;
    //   background-color: #d9d9d9;
    //   border: 1px solid #d9d9d9;
    // }
  }
}
